button {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  cursor: pointer;
  outline: 0;
}
